<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <style>
      * {
        font-family: Arial, sans-serif;
      }

      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        min-height: 100vh;
        background-color: rgb(26, 175, 236)
      }
      .bar {
        height: 100px;
      }
    </style>

    <script>
      function handleCredentialResponse({ credential }) {
        if (credential) {
          const idToken = credential;

          fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ idToken: idToken }),
            redirect: "follow",
          }).then((res) => {
            if (res.redirected) window.location.href = res.url;
          });
        } else {
          console.error("Google Sign-In error:", response.error);
        }
      }
    </script>
  </head>
  <body>
    <h1>Image Manager</h1>

    <p>Login to view and upload your images</p>
    <!-- Google Sign-In button -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="{{ client_id }}"
      data-callback="handleCredentialResponse"
    ></div>
    <div class="g_id_signin" data-type="standard"></div>
    <div class="bar"></div>
  </body>
</html>
